@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:ital,wght@0,100;0,200;0,300;1,300;1,500&display=swap');

body{
    background-color: blanchedalmond;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Courier New', Courier, monospace;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: aquamarine;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;

}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 61vh;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 25px;
    padding: 34px;
    background-image: url('bg2.jpg');
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 125px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    

}

.icons{
    margin-top: 15px;
}

.icons {
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    /* text-align: center; */
}


.songItemContainer{
    margin-top: 34px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: whitesmoke;
    width: 60%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}
.songItem img{
    width: 23px;
    margin: 0 23px;
    border-radius: 34px;

}

.timestamp{
    margin: 0 23px;

}

.timestamp i{
    cursor: pointer;

}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}